
	

<h4>Appointments</h4>

<table class=" table table-striped" data-sort-name="name" data-sort-order="desc">
  <thead>
    <tr>
      <th data-field="name" data-sortable="true">Patient Name</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.full_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', doctors_path %>